<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAYYYYY!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Rubik+Spray+Paint&display=swap" rel="stylesheet">
    <style>
        .font {
            font-family: "Chewy", system-ui;
            font-weight: 400;
            font-size: 70px;
            font-style: normal;
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            background-color: bisque;
        }
        h2{
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1 class="font">AWWWWW!! I LOVE YOU MOREE!</h1><br>
    <h2>🥰🥰😘</h2>
</body>
</html>